* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans'
}

html {
    height: 100%;
}

body {
<<<<<<< HEAD
    background-color: #00bcd4;
=======
    background-color: #00BCD4;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*background: linear-gradient( #81b2c9, transparent), linear-gradient( 90deg, #39d5a3, transparent), linear-gradient( -90deg, #e44c97, transparent);*/
    /*background-blend-mode: screen;*/
>>>>>>> 43edc403454174ef6f3a07d5463f4f6ae90d3f0e
}

#lunch_heading {
    font-size: 12vh;
    color: white;
    text-shadow: 0 5px 8px black;
    padding: 1vh 0 3vh 0;
    font-family: 'Pacifico';
}


#lunch_heading-landing {
    font-size: 12vh;
    color: white;
    text-shadow: 0 5px 8px black;
    padding: 1vh 0 3vh 0;
    font-family: 'Pacifico';
}

#description {
    color: white;
    text-shadow: 0 1px 1px black;
}

#image-carousel {
    height: 50vh;
    transform: translate(0%, 50%);
    background-color: rgba(255,255,255,0.5);
}

#result-div{
    width: 94%;
    height: 76vh;
    transform: translate(3%, 25%);
    background-color: rgba(0,0,0,0.33);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px  12px rgba(0,0,0,0.22);
    color: white;
    text-shadow: 0 1px 3px black;
}

button:focus {
    outline: 0;
}

.landing-heading {
    color: white;
    text-shadow: 0px 1px 3px black;
}

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
    padding: 10px 35px;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    font-family: 'Pacifico';
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.red {
    background-color: red;
    border-bottom: 5px solid #ce0010;
    text-shadow: 0px 2px 3px black;
}

.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#random {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -24px;
    color: #FFF;
    text-shadow: 1px 3px 4px black;
    font-family: 'Pacifico';
}

.circle {
    position: absolute;
    left: 33%;
    top: 50%;
    height: 175px;
    width: 175px;
    margin: -25px 0 0 -25px;
    cursor: pointer;
    border-radius: 999em;
    z-index: 0;
    background: #006064;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.75);
    font-size: 36px;
}

.circle > #show {
    display: none;
}

.circle.expanded > #random {
    display: none;
}

/**************************************  CAROUSEL   **************************************************/

/*CAROUSEL IMAGE SCALING*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    #width: 80%;
    #max-height: 80%;
    margin: auto;
}

.carousel-inner {height: 90vh; border: 2px solid orange;}
.result-img-holder{border: 2px solid green;
    height: 40vh;
}
.result-info-div{border: 2px solid yellow;
    height: 45vh;
}
.more-info-btn {
    position: absolute;
    bottom: 1vh;
    background-color: white;
}

#results-page {
  height: 100vh;
  width: 100vw;
}

.result-card {
  position: absolute !important;
  height: 80%;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.result-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
  margin-bottom: 3%;
  height: 45%;
  width: 65%;
  border: 1px solid black;
  border-radius: 50%;
}

.result-text-holder {
  border: 1px solid black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 20%;
  width: 90%;
}

.navigation-button {
  margin-top: 6%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 15%;
  width: 23%;
  border-radius: 50%;
  border: 1px solid black;
}

.navigation-button p {
  text-align: center;
  padding-top: 35%;
}

/**************************************  MEDIA QUERY   **************************************************/
@media screen and (max-width: 800px) {

    #lunch_heading {
        font-size: 5vh;
        padding: 0;
        text-shadow: 0 3px 5px black;
    }

    #description > * {
        font-size: 2.5vh;
    }

    #image-carousel {
        height: 35%;
        width: 93%;
        overflow: hidden;
        transform: translate(4%,-27%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    #carousel-images  {
        height: 100%;
    }

    #result-div {
        width: 93%;
        height: 87vh;
        transform: translate(4%, 12%);
        background-color: white;
        /* background-color: rgba(0,0,0,0.33); */
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    #image-holder {
        height: 37%;
        width: 93%;
        transform: translate(4%,-26%);
        background-color: rgba(0,0,0,0.50);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        overflow: hidden;
    }

    #food-img {
        position: absolute;
        height: 96%;
        width: 80%;
        left: 0;
        transform: translate(13%,2%);
    }

    #results-info-div {
        background-color: rgba(0,0,0,0.50);
        height: 57%;
        width: 93%;
        transform: translate(4%,-19%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    #selection-info-div {
        background-color: rgba(0,0,0,0.50);
        height: 59%;
        width: 93%;
        transform: translate(0%,-13%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .restaurant-info {
        float: left;
        height: 35%;
        width: 20%;
        margin: 18px 0 0 13px;
        background-color: rgba(0,0,0,0.5);
        padding-top: 12px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        color: white;
    }

    .restaurant-info > i {
        padding-bottom: 5px;
    }

    .landing-heading {
        margin-top: 3px;
        font-size: 2vh;
    }
    .animate {
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
    }

    .action-button {
        position: relative;
        padding: 8px 20px;
        margin: 0px 10px 10px 0px;
        border-radius: 5px;
        font-family: 'Pacifico';
        font-size: 20px;
        color: #FFF;
        text-decoration: none;
        background-color: red;
        border-bottom: 5px solid #ce0010;
        text-shadow: 0px 2px 3px #3b3b3b;
        top: 5vh;
        transform: translate(5%,0%);
    }

    .action-button:active {
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        border-bottom: 1px solid;
    }

    #more-info {
        font-family: 'Pacifico';
        background-color: rgba(0,0,0,0.5);
        height: 26%;
        width: 26%;
        border-radius: 50%;
        background-color: red;
        font-size: 15px;
        text-shadow: 0 2px 4px black;
        transform: translate(1%,23%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .restaurant-info-back {
        height: 44px;
        padding: 0;
        background-color: red;
        margin-bottom: 6px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .info-aside {
        background-color: white;
        color: black;
        height: 44px;
        padding: 0;
        margin-bottom: 6px;
        text-shadow: none;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

}
