* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans'
}

html {
    height: 100%;
}

body {
    background-color: #c90000;
    /*background: linear-gradient( #81b2c9, transparent), linear-gradient( 90deg, #39d5a3, transparent), linear-gradient( -90deg, #e44c97, transparent);*/
    /*background-blend-mode: screen;*/
}

#lunch_heading {
    font-size: 12vh;
    color: white;
    text-shadow: 0 5px 8px black;
    padding: 1vh 0 3vh 0;
    font-family: 'Pacifico';
}

#description {
    color: white;
    text-shadow: 0 1px 1px black;
}

#image-carousel {
    height: 50vh;
    transform: translate(0%, 50%);
    background-color: rgba(255,255,255,0.5);
}

#result-div{
    width: 94%;
    height: 76vh;
    transform: translate(3%, 25%);
    background-color: rgba(0,0,0,0.33);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px  12px rgba(0,0,0,0.22);
    color: white;
    text-shadow: 0 1px 3px black;
}

button:focus {
    outline: 0;
}

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
    padding: 10px 35px;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    font-family: 'Pacifico';
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}
.red {
    background-color: red;
    border-bottom: 5px solid #ce0010;
    text-shadow: 0px 2px 3px black;
}

.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.flip-card {
    background-color: white;
    transform: rotate3D(0,1,0,180deg);
}

@media screen and (max-width: 800px) {

    #lunch_heading {
        font-size: 5vh;
        padding: 0;
        text-shadow: 0 3px 5px black;
    }

    #description > * {
        font-size: 2.5vh;
    }

    #image-carousel {
        height: 35%;
        width: 93%;
        overflow: hidden;
        transform: translate(4%,-27%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    #carousel-images  {
        height: 100%;
    }

    #result-div {
        width: 93%;
        height: 87vh;
        transform: translate(4%, 12%);
        background-color: white;
        /* background-color: rgba(0,0,0,0.33); */
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    #image-holder {
        height: 37%;
        width: 93%;
        transform: translate(4%,-26%);
        background-color: rgba(0,0,0,0.50);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        overflow: hidden;
    }

    #food-img {
        position: absolute;
        height: 96%;
        width: 80%;
        left: 0;
        transform: translate(13%,2%);
    }

    #info-div {
        background-color: rgba(0,0,0,0.50);
        height: 60%;
        width: 93%;
        transform: translate(4%,-19%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .restaurant-info {
        float: left;
        height: 35%;
        width: 20%;
        margin: 18px 0 0 13px;
        background-color: rgba(0,0,0,0.5);
        padding-top: 12px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    #restaurant-name {
        padding-top: 5px;
    }

    .restaurant-info > i {
        padding-bottom: 5px;
    }

    .animate {
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
    }

    .action-button {
        position: absolute;
        padding: 8px 20px;
        margin: 0px 10px 10px 0px;
        border-radius: 5px;
        font-family: 'Pacifico';
        font-size: 20px;
        color: #FFF;
        text-decoration: none;
        bottom: 2px;
        left: 26%;
    }

    .red {
        background-color: red;
        border-bottom: 5px solid #ce0010;
        text-shadow: 0px 2px 3px #3b3b3b;
    }
    .action-button:active {
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        border-bottom: 1px solid;
    }

    #more-info {
        font-family: 'Pacifico';
        background-color: rgba(0,0,0,0.5);
        height: 26%;
        width: 26%;
        border-radius: 50%;
        background-color: red;
        font-size: 15px;
        text-shadow: 0 2px 4px black;
        transform: translate(1%,23%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .restaurant-info-back {
        float: left;
        border: 1px solid black;
        width: 25%;
        height: 14%;
        padding: 3px;
    }

    .info-aside {
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        border: 1px solid black;
        width: 75%;
        height: 14%;
    }

    .small-info-aside {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        border: 1px solid black;
        width: 25%;
        height: 14%;
    }

    #restaurant-url{
        color: white;
    }
}

