* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans'
}

html {
    height: 100%;
}

body {
    background-color: #c90000;
    /*background: linear-gradient( red, transparent), linear-gradient( 90deg, #dfc728, transparent), linear-gradient( -90deg, coral, transparent);*/
    /*background-blend-mode: screen;*/
}

#lunch_heading {
    font-size: 12vh;
    color: white;
    text-shadow: 0 5px 8px black;
    padding: 1vh 0 3vh 0;
    font-family: 'Pacifico';
}

#description {
    color: white;
    text-shadow: 0 1px 1px black;
}

#image-carousel {
    height: 50vh;
    transform: translate(0%, 50%);
    background-color: rgba(255,255,255,0.5);
}

#result-div{
    width: 93%;
    height: 84vh;
    transform: translate(4%, 13%);
    background-color: rgba(0,0,0,0.25);
}

@media screen and (max-width: 750px) {
    #lunch_heading {
        font-size: 5vh;
        padding: 0;
    }

    #description > * {
        font-size: 2.5vh;
    }

    #image-carousel {
        height: 25vh;
        transform: translate(0%, 50%);
        background-color: rgba(255,255,255,0.5);
    }

    #result-div {
        width: 93%;
        height: 84vh;
        transform: translate(4%, 13%);
        background-color: rgba(0,0,0,0.25);
    }
}


